* {
  margin: 0;
  padding: 0;
}
.nav_ul li{
  padding: 0 0.5rem;
}
.nav_ul li a{
  font-size: 1.1rem;
  color: #000;
  font-weight: 500;
}
.btn1{
  border: 0;
  padding: 0.5rem 1.3rem;
  color: #ffffff;
  background-color: #000;
  font-weight: 500;
  border-radius: 10%;
}
.btn2{
  border: 0;
  padding: 0.5rem 1.3rem;
  color: #ffffff;
  background-color: #000;
  font-weight: 500;
  border-radius: 10%;
}
.btn3{
  border: 0;
  padding: 0.5rem 1.3rem;
  color: #ffffff;
  background-color: #000;
  font-weight: 500;
  border-radius: 10%;
}

.carousel-item{
  width: 100%;
  height: calc(100vh - 98px);
  margin-top: 0;
  overflow: hidden;
  position: relative;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item h3{
  color: #CC0000;
}

.carousel-item button{
  border: 0;
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  background-color: #000;
  font-weight: 500;
  border-radius: 5%;
}