* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* Mobile  */

@media (max-width: 770px) {
  .categories-grid .left-column,
  .categories-grid .right-column {
    width: 100%; 
    margin-bottom: 20px; 
  }

  .categories-grid .right-column {
    order: -1; 
  }
}

/* Admin mobile  */
/* Hide the main content on small screens */
@media (max-width: 768px) {
  .admin-content {
    display: none;
  }
  .mobile-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    font-size: 1.5rem;
    padding: 20px;
  }
}

/* Show the main content on larger screens */
@media (min-width: 769px) {
  .mobile-message {
    display: none;
  }
}


/* NavBar */

.btn-nav {
  border: 0;
  padding: 0.5rem 1.3rem;
  color: #ffffff;
  background-color: #000000;
  font-weight: 500;
  border-radius: 10%;
  margin-left: 35px;
  white-space: nowrap; 
}

.navbar{
  font-size: 1.1rem;
  color: #000;
  font-weight: 500;
}




/* Carousel  */

.carousel-item{
  width: 100%;
  height: calc(100vh - 98px);
  margin-top: 0;
  overflow: hidden;
  position: relative;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

/* featured styles maybe add in future idk for now doesnt looks good */
/* .carousel-item h3{
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: #000000;
  padding-bottom: 140px;
} */

.carousel-item p{
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 50px;
}

.carousel-item button{
  border: 0;
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  background-color: #000;
  font-weight: 500;
  border-radius: 5%;
}



/* Categories */


.categories-grid {
  padding-top: 70px; 
}

.categories-grid .img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.4s ease; 
}

.categories-grid .image-wrapper:hover .img-fluid {
  transform: scale(1.04); 
}

.categories-grid .left-column .img-fluid {
  margin-left: 20px;
}

.categories-grid .right-column .img-fluid {
  height: 100%;
  margin-right: 20px;
}

.categories-grid h2{
  color: #000;
  font-weight: bold;
  padding: 5px;
}

.categories-grid h3{
  margin-top: 30px;
  font-weight: bold;
  color: #ffffff;
}

.categories-grid button{
  border: 0;
  padding: 0.5rem 1.3rem;
  color: #ffffff;
  background-color: #CC0000;
  font-weight: 500;
  border-radius: 10%;
  margin-left: 35px;
  white-space: nowrap; 
}

.image-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* Card */

.card {
  width: 28rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); 
  transition: transform 0.3s ease; 

}

.card:hover {
  transform: scale(1.03); 
}

.card img {
  padding: 20px;
  background-color: #F8F8F8;
  height: 300px;
  width: 100%;
  object-fit: cover;
}


.card-body{
  background-color: #F8F8F8;
  height: 200px;
}

.card h3{
  font-weight: bold;
  font-size: 25px;
}

.card p{
  font-weight: 380;
  font-size: 20px;
}

.card button{
  width: 100%;
  border-radius: 0;
  background-color: #CC0000;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 15px;
  border-color: #F8F8F8;
  height: 53px;
  margin: 0; 
}

.card .button-group .btn:hover {
  background-color: #F8F8F8;
  color: #CC0000;
  border-color: #CC0000;
  border-color: #CC0000;
  border-width: 1px;
  border-style: solid;
}

/* Products */

.products{
  padding-top: 80px;
}

.products h2{
  color: #000;
  font-weight: bold;
  padding: 5px;
}


/* new product admin panel */

.form-container {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-header {
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.form-title {
  text-align: center;
}

.submit-btn {
  border-radius: 15px;
}

.new-product{
  height: 569px;
}


/* Admin panel */

.table .btn {
  margin-right: 5px;
}

/* Product Details */

.img-detail{
  object-fit: cover;
  cursor: pointer;
}

.img-detail {
  cursor: pointer;
  height: 450px;
  width: 100%;
  transition: transform 0.3s ease, border 0.3s ease;
}

.img-detail:hover {
  transform: scale(1.02); 
  border: 2px solid black;
}


.img-thumbnail {
  cursor: pointer;
  width: 80px;
  height: auto;
  margin: 0 5px;
  transition: transform 0.3s ease, border 0.3s ease;
}

.img-thumbnail:hover {
  transform: scale(1.05); 
  border: 2px solid black;
}

.btn-cart{
  width: 40%;
  border-radius: 0;
  background-color: #CC0000;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 15px;
  border-color: #F8F8F8;
  height: 55px;
}

.btn-cart:hover {
  background-color: #F8F8F8;
  color: #CC0000;
  border-color: #CC0000;
  border-color: #CC0000;
  border-width: 1px;
  border-style: solid;
}

.custom-modal .modal-content {
  background-color: #333; 
  color: white; 
}

.custom-modal .modal-body {
  padding: 0;
}

.custom-modal .carousel-indicators li {
  background-color: #555; 
}

.custom-modal .carousel-indicators .active {
  background-color: #000000; /* White color for the active indicator */
}

.custom-modal .carousel-control-prev-icon,
.custom-modal .carousel-control-next-icon {
  background-color: #000000; 
  border-radius: 20%; 
  padding: 30px; 
}




/* Footer */


.footer {
  padding: 15px 0;
  background-color: #000000;
  color: #333;
  bottom: 0;
  width: 100%;

}

.footer-logo {
  height: 50px;
  margin-right: 35px;
  margin-left: 20px;
}

.footer-text {
  color: #ced4da;
  font-size: 14px;
  margin-right: 20px;
}


/* Pagination buttons */

.pagination-dark .page-item .page-link {
  background-color: #343a40; 
  color: white; 
}

.pagination-dark .page-item.active .page-link {
  background-color: #495057; 
  border-color: #495057; 
}

.pagination-dark .page-item .page-link:hover {
  background-color: #495057; 
  color: white; 
}

